
<h3>Organisations for  {{session.currentUser.username}}</h3>

<ul>
  {{#each content as |org|}}
    <li>
      <a href="#" {{action 'getMemberAndRepos' org.login on="click"}} >
        {{org.login}}
      </a>
      : {{members.length}} members
      : {{repos.length}} repos
    </li>
  {{/each}}
</ul>

<hr>

<ol>
  {{#each members as |member|}}
    <li><a href="#" >{{member.login}}</a></li>
  {{/each}}
</ol>

<ol>
  {{#each repos as |repo|}}
    <li><a href="#" >{{repo.name}}</a></li>
  {{/each}}
</ol>
