
<h3>Organisations for  {{session.currentUser.username}}</h3>

<ul>
  {{#each content as |org|}}
    <li>
      <a href="#" {{action 'getMemberAndRepos' org.login on="click"}} >
        {{org.login}}
      </a>
      : {{members.length}} members
      : {{repos.length}} repos
    </li>
  {{/each}}
</ul>
<hr>

<h3>Render contribution graph for top 2 repo</h3>
<button {{action 'getRepoStat'}}>Draw Graph</button>

<ol>
  {{#each chartContent as |chart|}}
    <li>
      {{high-charts content=chart.chartData chartOptions=chart.chartOptions}}
    </li>
  {{/each}}
</ol>
<hr>

<ol>
  {{#each contributions as |contrib|}}
    <li>
      {{#each contrib as |c|}}
        [{{c.author.login}}: {{c.total}}] &nbsp;
      {{/each}}
    </li>
  {{/each}}
</ol>

<hr>

<ol>
  {{#each members as |member|}}
    <li><a href="#" >{{member.login}}</a></li>
  {{/each}}
</ol>

<ol>
  {{#each repos as |repo|}}
    <li><a href="#" >{{repo.name}}</a></li>
  {{/each}}
</ol>
